table{
    border-collapse: collapse;
}

tr:nth-child(odd){
    background: #FFEECC;
}

th, td{
    padding: 10px;
    text-align: center;
    border: solid 1px black;
}

td:nth-child(4), td:nth-child(5){
    text-align: left;
}

td::first-letter{
    text-transform: uppercase;
}

