body{
    background-color: lightblue;
}
#page{
    width: 70%;
    margin: 0 auto;
}
#logo{
    float: left;
    position: relative;
}
h1{
    float: left;
    position: relative;
    text-align: left;
    font-family: 'Arial'
}
#menu{
    float: right;
    margin-left: 5%;
    position: relative;
}
.menubutton{
    display: inline;
    border-style: solid;
    border-color: green;
}
.menubutton:hover{
    background: red;
    font-size: 101%;
}
.menubutton:onclick{
    background: green;
}
#featuredimgs{
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#main{
    clear: left;
    height: 200px;
    margin: 0 auto;
}

.mainSub{
    float: left;
    width: 50%;
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: 20px;

    position: relative;
}

.mainSub img{
    display: block;
    margin: 0 auto;
}

#footer{
    clear: left;
    position: relative;
}
.fItem{
    display: inline;
}